[submodule "software/googleAppEngine/samples/goAgent"]
	path = software/googleAppEngine/samples/goAgent
	url = https://github.com/GdZ/goagent.git
[submodule "tool-kit/ext4-utils"]
	path = tool-kit/ext4-utils
	url = https://github.com/YuLaw/ext4-utils.git
[submodule "tool-kit/init_android_env"]
	path = tool-kit/init_android_env
	url = git@github.com:GdZ/init_android_env.git
[submodule "py/monkeyrunner"]
	path = py/monkeyrunner
	url = git@github.com:GdZ/AutoTest.git
[submodule "jsonTest"]
	path = jsonTest
	url = git@github.com:GdZ/jsonTest.git
[submodule "eDict"]
	path = eDict
	url = git@github.com:GdZ/eDict.git
[submodule "tool-kit/excel-writer-xlsx"]
	path = tool-kit/excel-writer-xlsx
	url = https://github.com/jmcnamara/excel-writer-xlsx.git
