[submodule "software/googleAppEngine/samples/goAgent"]
	path = software/googleAppEngine/samples/goAgent
	url = https://github.com/GdZ/goagent.git
[submodule "tool-kit/ext4-utils"]
	path = tool-kit/ext4-utils
	url = https://github.com/YuLaw/ext4-utils.git
[submodule "tool-kit/init_android_env"]
	path = tool-kit/init_android_env
	url = git@github.com:GdZ/init_android_env.git
[submodule "py/monkeyrunner"]
	path = py/monkeyrunner
	url = git@github.com:GdZ/AutoTest.git
[submodule "eDict"]
	path = eDict
	url = git@github.com:GdZ/eDict.git
[submodule "tool-kit/excel-writer-xlsx"]
	path = tool-kit/perl-modules/excel-writer-xlsx
	url = https://github.com/jmcnamara/excel-writer-xlsx.git
[submodule "IDE/go"]
	path = IDE/go
	url = https://github.com/tav/go.git
[submodule "docs"]
	path = docs
	url = git@code.csdn.net:zgd1348833/docs.git
[submodule "config"]
	path = config
	url = git@192.168.1.148:config.git
[submodule "tool-kit/host.def"]
	path = tool-kit/host.def
	url = git@github.com:GdZ/google-hosts.git
[submodule "projects/Android-Universal-Image-Loader"]
	path = projects/Android-Universal-Image-Loader
	url = git@github.com:nostra13/Android-Universal-Image-Loader.git
[submodule "projects/image.cached/picasso"]
	path = projects/image.cached/picasso
	url = git@github.com:square/picasso.git
[submodule "mobile/osmocom-bb"]
	path = mobile/osmocom-bb
	url = git@github.com:korczis/osmocom-bb.git
[submodule "tool-kit/remote-desktop-clients"]
	path = tool-kit/remote-desktop-clients
	url = https://github.com/iiordanov/remote-desktop-clients.git
[submodule "tool-kit/repo"]
	path = tool-kit/repo
	url = git@192.168.1.148:repo.git
[submodule "sites/PHPMailer"]
	path = sites/PHPMailer
	url = https://github.com/Synchro/PHPMailer.git
[submodule "tool-kit/MemTest"]
	path = tool-kit/MemTest
	url = git@192.168.1.148:MemTest.git
[submodule "software/homebrew"]
	path = software/homebrew
	url = https://github.com/mxcl/homebrew.git
[submodule "tool-kit/solarized"]
	path = tool-kit/solarized
	url = https://github.com/altercation/solarized.git
[submodule "projects/gfw/openwrt-gfw"]
	path = projects/gfw/openwrt-gfw
	url = https://github.com/hackgfw/openwrt-gfw.git
[submodule "projects/gfw/openwrt-fanqiang"]
	path = projects/gfw/openwrt-fanqiang
	url = https://github.com/softwaredownload/openwrt-fanqiang.git
[submodule "projects/openwrt"]
	path = projects/openwrt
	url = https://github.com/openwrt-mirror/openwrt.git
[submodule "tool-kit/git"]
	path = tool-kit/git
	url = https://github.com/git/git
[submodule "tool-kit/openocd"]
	path = tool-kit/openocd
	url = https://github.com/ntfreak/openocd.git
[submodule "projects/svg-android"]
	path = projects/svg-android
	url = git://github.com/GdZ/svg-android.git
[submodule "projects/12306_ticket_helper"]
	path = projects/12306_ticket_helper
	url = git@github.com:GdZ/12306_ticket_helper.git
[submodule "projects/TECP"]
	path = projects/TECP
	url = git@github.com:GdZ/TECP.git
[submodule "projects/afinal"]
	path = projects/afinal
	url = git@github.com:yangfuhai/afinal.git
[submodule "projects/node"]
	path = projects/node
	url = git@github.com:joyent/node.git
[submodule "projects/NodeBeginngerBook"]
	path = projects/NodeBeginngerBook
	url = git@github.com:GdZ/NodeBeginngerBook.git
[submodule "projects/httpserver"]
	path = projects/httpserver
	url = git@github.com:youngj/httpserver.git
[submodule "projects/AutoTest"]
	path = projects/AutoTest
	url = git@github.com:GdZ/AutoTest.git
[submodule "projects/8021xclient-for-windows"]
	path = projects/8021xclient-for-windows
	url = git@github.com:tengattack/8021xclient-for-windows.git
[submodule "projects/jquery-ui"]
	path = projects/jquery-ui
	url = git@github.com:GdZ/jquery-ui.git
[submodule "projects/init_android_env"]
	path = projects/init_android_env
	url = git@github.com:GdZ/init_android_env.git
[submodule "projects/csshake"]
	path = projects/csshake
	url = git@github.com:GdZ/csshake.git
[submodule "projects/kHTTPd-Mini"]
	path = projects/kHTTPd-Mini
	url = git@github.com:K-Shadow/kHTTPd-Mini.git
[submodule "projects/ubuntu-tweak"]
	path = projects/ubuntu-tweak
	url = git@github.com:GdZ/ubuntu-tweak.git
[submodule "projects/njit8021xclient"]
	path = projects/njit8021xclient
	url = git@github.com:GdZ/njit8021xclient.git
[submodule "projects/BassDiffusion"]
	path = projects/BassDiffusion
	url = git@github.com:GdZ/BassDiffusion.git
[submodule "projects/2048"]
	path = projects/2048
	url = git@github.com:GdZ/2048.git
[submodule "projects/jsonTest"]
	path = projects/jsonTest
	url = git@github.com:GdZ/jsonTest.git
[submodule "projects/TranslateProject"]
	path = projects/TranslateProject
	url = git@github.com:LCTT/TranslateProject.git
