# public settings cannot be ignore
#config/project.env.sh
#install/project.install.sh

####################################################
# private settings must be ignore
install/private.install.sh
config/private.env.sh
sh/netrc

####################################################
# this is 
driver/
run/

# Sprd Log tools package, no need to track these files
sh/Log4Android2PCv2.0.6.rar
sh/Log4Android2PCv2.1.6.zip
sh/Log4Android2PCv2.1.9.zip
sh/Log4Android2PCv2.2.4.zip
sh/Smali2Java.1.0.0.558.zip
sh/adb_restart.sh.zip
#sh/android4.0_root.sh
sh/chkbugreport-0.4-164.zip
sh/gat-linux-x86_64-3/

# This is a test folder, no need to track status
ssh-keygen/
